button.gg-button {
    --button-text-color: var(--secondary-darker);
    --button-background-color: var(--primary-light);
    --button-hover-color: var(--primary-lighter);
    --button-active-color: var(--primary);
    --button-border-color: var(--primary-dark);
    --button-shadow-color: var(--primary-darker);
    --button-font-size: var(--size-175);
    --button-padding-y: var(--size-100);
    --button-padding-x: var(--size-200);

    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: var(--button-font-size);
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: var(--size-075);
    transform-style: preserve-3d;
    transition: transform 0.15s ease-out, background 0.15s ease-out;
    color: var(--button-text-color);
    background: var(--button-background-color);
    border: var(--size-025) solid var(--button-border-color);
    cursor: pointer;

    &[data-size='sm'] {
        --button-font-size: var(--size-150);
        --button-padding-y: var(--size-075);
        --button-padding-x: var(--size-150);
    }

    &[data-size='lg'] {
        --button-font-size: var(--size-200);
        --button-padding-y: var(--size-125);
        --button-padding-x: var(--size-250);
    }

    &[data-size='xl'] {
        --button-font-size: var(--size-250);
        --button-padding-y: var(--size-150);
        --button-padding-x: var(--size-300);
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        border-radius: inherit;
        transform: translate3d(0, var(--size-075), calc(-1 * var(--size-100)));
        transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
        background: var(--button-border-color);
        box-shadow: var(--button-shadow-color) 0 0 0 2px;
    }

    &:hover {
        background: var(--button-hover-color);
        transform: translateY(var(--size-025));
    }

    &:active {
        background: var(--button-active-color);
        transform: translateY(calc(0.35 * var(--size-100)));
    }

    &:hover::before {
        transform: translate3d(0, var(--size-050), calc(-1 * var(--size-100)));
    }

    &:active::before {
        transform: translate3d(0, calc(0.4 * var(--size-100)), calc(-1 * var(--size-100)));
    }

    &:focus-visible {
        outline: var(--size-025) solid var(--focus-color);
        outline-offset: var(--size-050);
    }

    &[data-variant='secondary'] {
        --button-text-color: var(--secondary-lighter);
        --button-background-color: transparent;
        --button-hover-color: transparent;
        --button-active-color: transparent;
        --button-border-color: var(--secondary-light);

        &::before {
            content: none;
        }

        &:hover,
        &:active {
            border-color: var(--secondary-lighter);
            transform: none;
        }
    }
}
