:host {
    display: grid;
    gap: var(--size-400);
    box-sizing: border-box;
    width: min(calc(100vw - var(--size-400) * 2 - var(--size-200)), 25rem);
    padding: var(--size-400);
    text-align: center;
}

h1 {
    margin: 0;
    color: var(--heading-color);
    font-family: stayPixel;
    font-size: clamp(var(--size-400), 8vw, var(--size-600));
}

.actions {
    display: grid;
    gap: var(--size-300);
}
