:host {
    --logo-color1: #5d9ecc;
    --logo-color2: #baf507;

    position: fixed;
    inset: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0.5turn, #7177b8, #419264);
    color: white;
    gap: 1.5rem;
    letter-spacing: 0.1em;
    font-family: stayPixel;
}

img {
    width: 250px;
    height: 250px;
}

h1 {
    font-size: 8rem;
    margin: 0 0 3rem;
    text-shadow: 3px 1px 1px var(--logo-color1), 2px 2px 1px var(--logo-color2), 4px 2px 1px var(--logo-color1),
        3px 3px 1px var(--logo-color2), 5px 3px 1px var(--logo-color1), 4px 4px 1px var(--logo-color2),
        6px 4px 1px var(--logo-color1), 5px 5px 1px var(--logo-color2), 7px 5px 1px var(--logo-color1),
        6px 6px 1px var(--logo-color2), 8px 6px 1px var(--logo-color1), 7px 7px 1px var(--logo-color2),
        9px 7px 1px var(--logo-color1);
}

h2 {
    font-size: 3rem;
    margin: 0;
}
