.debug-panel {
    position: absolute;
    z-index: 10;
    top: var(--size-125);
    left: var(--size-125);
    padding: var(--size-200);
}

h3 {
    margin: 0 0 var(--size-100);
}

button {
    margin-top: var(--size-200);
    margin-bottom: var(--size-075);
}
