@font-face {
    font-family: stayPixel;
    src: url(/fonts/StayPixel.ttf);
}

:root {
    --logo-color1: #5d9ecc;
    --logo-color2: #baf507;
}

* {
    box-sizing: border-box;
    cursor: url('/images/cursor.png'), auto;
}

html,
body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;


    #loading {
        letter-spacing: 0.1em;
        font-family: stayPixel;
    }

}

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0.5turn, #7177b8, #419264);
    color: white;
    gap: 1.5rem;

    img {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 8rem;
        margin: 0;
        margin-bottom: 3rem;
        text-shadow: 3px 1px 1px var(--logo-color1), 2px 2px 1px var(--logo-color2), 4px 2px 1px var(--logo-color1),
            3px 3px 1px var(--logo-color2), 5px 3px 1px var(--logo-color1), 4px 4px 1px var(--logo-color2),
            6px 4px 1px var(--logo-color1), 5px 5px 1px var(--logo-color2), 7px 5px 1px var(--logo-color1),
            6px 6px 1px var(--logo-color2), 8px 6px 1px var(--logo-color1), 7px 7px 1px var(--logo-color2),
            9px 7px 1px var(--logo-color1);
    }

    h2 {
        font-size: 3rem;
        margin: 0;
    }
}

#render-canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    background-color: #00000099;
    border: 2px solid rgb(127, 127, 127);
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 5px;
    border-radius: 12px;
}

#render-info {
    top: 10px;
    right: 10px;
}

#debug-panel {
    display: none;
    top: 10px;
    left: 10px;
    padding: 16px;

    h3 {
        margin: 0;
        margin-bottom: 8px;
    }

    button {
        margin-top: 16px;
    }
}

button {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.15em 2em;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 0.15s ease-out, background 0.15s ease-out;
    color: rgb(190, 133, 11);
    background: rgb(255, 239, 204);
    border: 2px solid rgb(222, 156, 13);
    margin-bottom: 0.75em;
}


button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0px;
    border-radius: inherit;
    transform: translate3d(0px, 0.75em, -1em);
    transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
    background: rgb(255, 215, 128);
    box-shadow: rgb(222, 156, 13) 0px 0px 0px 2px;
}

button:hover {
    transform: translateY(0.25em);
}

button:active {
    transform: translateY(0.35em);
}

button:hover::before {
    transform: translate3d(0px, 0.5em, -1em);
}

button:active::before {
    transform: translate3d(0px, 0.4em, -1em);
}

.btn-small {
    font-size: 8px;
}

.btn-medium {
    font-size: 16px;
}

.btn-big {
    font-size: 32px;
}