@font-face {
    font-family: stayPixel;
    src: url(/fonts/StayPixel.ttf);
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;

    cursor: url('/images/cursor.png'), auto;

    #loading {
        letter-spacing: 0.1em;
        font-family: stayPixel;
    }

}

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #5B7D1B;
    color: white;
    gap: 1.5rem;

    img {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 8rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 3rem;
        margin: 0;
    }
}

#renderCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

#renderInfo {
    position: absolute;
    background-color: #00000099;
    border: 2px solid rgb(127, 127, 127);
    text-align: center;
    font-size: 16px;
    color: white;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
}

#debug-panel {
    display: none;
    position: absolute;
    background-color: #00000099;
    border: 2px solid rgb(127, 127, 127);
    text-align: center;
    font-size: 16px;
    color: white;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;

    button {
        background-color: #e50a0a99;
        border: 2px solid rgb(127, 127, 127);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
    }
}