@use './app/shared/button/button.directive';

@font-face {
    font-family: stayPixel;
    src: url('../public/fonts/StayPixel.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;
}