@font-face {
    font-family: stayPixel;
    src: url(/fonts/StayPixel.ttf);
}

html,
body {
    margin: 0;
    overflow: hidden;

    * {
        letter-spacing: 0.1em;
        font-family: stayPixel;
    }
}

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(51, 79, 5);
    color: white;
    gap: 1.5rem;

    img {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 8rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 3rem;
        margin: 0;
    }
}