:host {
    display: block;
    background-color: var(--surface-color);
    border: var(--size-025) solid var(--border-color);
    text-align: center;
    font-size: var(--size-200);
    color: var(--text-color);
    padding: var(--size-075);
    border-radius: var(--size-150);
}
