:host {
    display: block;
    background-color: #00000099;
    border: 2px solid rgb(127, 127, 127);
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 5px;
    border-radius: 12px;
}
